BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG MASTER_SPI_PORT=ENABLE CONFIG_IOVOLTAGE=3.3 CONFIG_MODE=SPI_SERIAL INBUF=OFF ;
USERCODE BIN "00000000000000000000000000000000" ; 
IOBUF PORT "dpll_clkout2" IO_TYPE=LVCMOS33 SLEWRATE=NA ;
LOCATE COMP "dpll_clkout2" SITE "C8" ;
FREQUENCY PORT "dpll_clkout2" 8.000000 MHz ;
IOBUF PORT "dpll_clkout0" IO_TYPE=LVCMOS33 SLEWRATE=NA ;
LOCATE COMP "dpll_clkout0" SITE "E8" ;
FREQUENCY PORT "dpll_clkout0" 10.000000 MHz ;
FREQUENCY NET "internal_160MHz" 160.000000 MHz ;
FREQUENCY NET "internal_80MHz" 80.000000 MHz ;
FREQUENCY NET "internal_64MHz" 64.000000 MHz ;
FREQUENCY NET "internal_64MHz_90deg" 64.000000 MHz ;
FREQUENCY NET "internal_200MHz" 200.000000 MHz ;
LOCATE COMP "rf_sel_0" SITE "L16" ;
IOBUF PORT "rf_sel_0" IO_TYPE=LVCMOS33 ;
LOCATE COMP "rf_sel_1" SITE "N16" ;
IOBUF PORT "rf_sel_1" IO_TYPE=LVCMOS33 ;
LOCATE COMP "rf_sel_2" SITE "M16" ;
IOBUF PORT "rf_sel_2" IO_TYPE=LVCMOS33 ;
LOCATE COMP "rf_sel_3" SITE "K16" ;
IOBUF PORT "rf_sel_3" IO_TYPE=LVCMOS33 ;
LOCATE COMP "subg_fem_sel0" SITE "D11" ;
IOBUF PORT "subg_fem_sel0" IO_TYPE=LVCMOS33 ;
LOCATE COMP "subg_fem_sel1" SITE "F16" ;
IOBUF PORT "subg_fem_sel1" IO_TYPE=LVCMOS33 ;
LOCATE COMP "wifi_fem_sel0" SITE "B15" ;
IOBUF PORT "wifi_fem_sel0" IO_TYPE=LVCMOS33 ;
LOCATE COMP "wifi_fem_sel1" SITE "B16" ;
IOBUF PORT "wifi_fem_sel1" IO_TYPE=LVCMOS33 ;
LOCATE COMP "wifi_fem_csd" SITE "E13" ;
IOBUF PORT "wifi_fem_csd" IO_TYPE=LVCMOS33 ;
LOCATE COMP "wifi_fem_cps" SITE "B13" ;
IOBUF PORT "wifi_fem_cps" IO_TYPE=LVCMOS33 ;
LOCATE COMP "wifi_fem_crx" SITE "D16" ;
IOBUF PORT "wifi_fem_crx" IO_TYPE=LVCMOS33 ;
LOCATE COMP "wifi_fem_ctx" SITE "D13" ;
IOBUF PORT "wifi_fem_ctx" IO_TYPE=LVCMOS33 ;
LOCATE COMP "wifi_fem_chl" SITE "A13" ;
IOBUF PORT "wifi_fem_chl" IO_TYPE=LVCMOS33 ;
LOCATE COMP "subg_fem_cps" SITE "A13" ;
IOBUF PORT "subg_fem_cps" IO_TYPE=LVCMOS33 ;
LOCATE COMP "subg_fem_ctx" SITE "A13" ;
IOBUF PORT "subg_fem_ctx" IO_TYPE=LVCMOS33 ;
LOCATE COMP "subg_fem_csd" SITE "A13" ;
IOBUF PORT "subg_fem_csd" IO_TYPE=LVCMOS33 ;
LOCATE COMP "fpga_led" SITE "B5" ;
IOBUF PORT "fpga_led" IO_TYPE=LVCMOS33 ;
LOCATE COMP "stm_fpga_spare1" SITE "D4" ;
IOBUF PORT "stm_fpga_spare1" IO_TYPE=LVCMOS33 ;
LOCATE COMP "stm_fpga_spare2" SITE "C4" ;
IOBUF PORT "stm_fpga_spare2" IO_TYPE=LVCMOS33 ;
LOCATE COMP "stm_fpga_spare3" SITE "B4" ;
IOBUF PORT "stm_fpga_spare3" IO_TYPE=LVCMOS33 ;
LOCATE COMP "stm_fpga_spare4" SITE "C7" ;
IOBUF PORT "stm_fpga_spare4" IO_TYPE=LVCMOS33 ;
LOCATE COMP "stm_fpga_spare5" SITE "B7" ;
IOBUF PORT "stm_fpga_spare5" IO_TYPE=LVCMOS33 ;
LOCATE COMP "fpga_sda" SITE "D5" ;
IOBUF PORT "fpga_sda" IO_TYPE=LVCMOS33 ;
LOCATE COMP "fpga_scl" SITE "C5" ;
IOBUF PORT "fpga_scl" IO_TYPE=LVCMOS33 ;
IOBUF PORT "spi1_sck" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
LOCATE COMP "spi1_sck" SITE "E4" ;
IOBUF PORT "spi1_mosi" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
LOCATE COMP "spi1_mosi" SITE "C6" ;
IOBUF PORT "spi1_miso" IO_TYPE=LVCMOS33 ;
LOCATE COMP "spi1_miso" SITE "B6" ;
IOBUF PORT "spi2_sck" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
LOCATE COMP "spi2_sck" SITE "B3" ;
IOBUF PORT "spi2_mosi" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
LOCATE COMP "spi2_mosi" SITE "E7" ;
IOBUF PORT "spi2_miso" IO_TYPE=LVCMOS33 ;
LOCATE COMP "spi2_miso" SITE "A4" ;
IOBUF PORT "spi3_sck" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
LOCATE COMP "spi3_sck" SITE "A6" ;
IOBUF PORT "spi3_mosi" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
LOCATE COMP "spi3_mosi" SITE "D7" ;
IOBUF PORT "spi3_miso" IO_TYPE=LVCMOS33 ;
LOCATE COMP "spi3_miso" SITE "E6" ;
IOBUF PORT "spi4_sck" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
LOCATE COMP "spi4_sck" SITE "A2" ;
IOBUF PORT "spi4_mosi" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
LOCATE COMP "spi4_mosi" SITE "D6" ;
IOBUF PORT "spi4_miso" IO_TYPE=LVCMOS33 ;
LOCATE COMP "spi4_miso" SITE "A3" ;
LOCATE COMP "fpga_ufl_p7" SITE "G16" ;
IOBUF PORT "fpga_ufl_p7" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
LOCATE COMP "fpga_ufl_p8" SITE "B12" ;
IOBUF PORT "fpga_ufl_p8" IO_TYPE=LVCMOS33 TERMINATION=OFF SLEWRATE=FAST ;
LOCATE COMP "fpga_neopixel" SITE "A5" ;
IOBUF PORT "fpga_neopixel" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "sdr_rxclk" IO_TYPE=SLVS DRIVE=NA DIFFRESISTOR=100 ;
LOCATE COMP "sdr_rxclk" SITE "L1" ;
FREQUENCY PORT "sdr_rxclk" 64.000000 MHz ;
IOBUF PORT "sdr_rx_subg" IO_TYPE=SLVS DRIVE=NA DIFFRESISTOR=100 HYSTERESIS=NA DIFFDRIVE="NA" ;
LOCATE COMP "sdr_rx_subg" SITE "F1" ;
IOBUF PORT "sdr_rx_wifi" IO_TYPE=SLVS DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=100 DIFFDRIVE="NA" TERMINATION=OFF HYSTERESIS=NA ;
LOCATE COMP "sdr_rx_wifi" SITE "C1" ;
IOBUF PORT "sdr_txclk" IO_TYPE=LVDS DRIVE=NA DIFFDRIVE="3.5" TERMINATION=OFF PULLMODE=NONE SLEWRATE=NA OPENDRAIN=OFF DIFFRESISTOR=OFF HYSTERESIS=NA ;
LOCATE COMP "sdr_txclk" SITE "N1" ;
FREQUENCY PORT "sdr_txclk" 64.000000 MHz ;
IOBUF PORT "sdr_txdata" IO_TYPE=LVDS DRIVE=NA CLAMP=ON ;
LOCATE COMP "sdr_txdata" SITE "D1" ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 6 VCCIO 2.5 V;
BANK 7 VCCIO 2.5 V;
BANK 8 VCCIO 3.3 V;
//MAXDELAY FROM PORT "spi1_sck" TO PORT "spi1_mosi" -20.000000 ns ;
//MAXDELAY FROM PORT "spi2_sck" TO PORT "spi2_mosi" -20.000000 ns ;
//MAXDELAY FROM PORT "spi3_sck" TO PORT "spi3_mosi" -20.000000 ns ;
//MAXDELAY FROM PORT "spi4_sck" TO PORT "spi4_mosi" -20.000000 ns ;
//CLOCK_TO_OUT ALLPORTS OUTPUT_DELAY 2.000000 ns MIN 2.000000 ns CLKNET "internal_190MHz" FROM "subg_i_spi/spi_clk_36" CLKOUT PORT "spi1_sck" ;
CLOCK_TO_OUT ALLPORTS OUTPUT_DELAY 0.000000 ns MIN 0.000000 ns CLKNET "sdr_txclk_c" CLKOUT PORT "sdr_txdata" ;
INPUT_SETUP PORT "sdr_rx_subg" INPUT_DELAY 0.000000 ns HOLD -3.0 ns CLKPORT "sdr_rxclk" SS ;
//INPUT_SETUP PORT "sdr_rx_subg" INPUT_DELAY 3.000000 ns  CLKPORT "sdr_rxclk" SS ;
//INPUT_SETUP PORT "sdr_rx_wifi" INPUT_DELAY 3.000000 ns HOLD -3.000000 ns CLKPORT "sdr_rxclk" SS ;
CLOCK_TO_OUT PORT "fpga_ufl_p7" 4.000000 ns MIN 4.000000 ns CLKPORT "sdr_rxclk" ;
CLOCK_TO_OUT PORT "fpga_ufl_p8" 4.000000 ns MIN 4.000000 ns CLKPORT "sdr_rxclk" ;
